#modal-root {
    position: relative;
    z-index: 9999;

    .modal-background {
        background: rgba(0, 0, 0, 0.8);
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;

        .modal-card {
            background: #fff;
            position: relative;
            max-height: 36rem;
            height: max-content;
            overflow: auto;
            // card frame
            border-radius: 0.3rem;
            border: 1px solid rgba(0, 0, 0, 0.1);
            box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.2);
            padding: 0.5rem 0.5rem 0;
            background: #fff;

            @media screen and (min-width: 1100px) {
                width: 36%;
            }

            @media screen and (max-width: 1099px) {
                width: 40%;
            }

            @media screen and (max-width: 980px) {
                width: 50%;
            }

            @media screen and (max-width: 800px) {
                width: 60%;
            }

            @media screen and (max-width: 620px) {
                width: 85%;
                max-height: 30rem;
            }

            @media screen and (max-width: 550px) {
                max-height: 25rem;
            }


            .close-btn {
                position: absolute;
                top: 0;
                right: 0;
                background: transparent;
                border: none;
                outline: none;
                font-size: 1.5rem;
                color: transparent;

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}

.modal-pending {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.3);
    font-size: 1.2rem;
    padding-bottom: 0.5rem;
}