.homepage {
    margin: 5rem auto 5rem;

    .all-posts {
        display: flex;
        flex-direction: column;

        .empty-post {
            font-size: 1.2rem;
            font-weight: 500;
            margin: 1rem 0 0 1rem;
            text-transform: capitalize;
            font-family: 'Lexend Peta';
            color: #d3d3d3;

            @media screen and (max-width: 650px) {
                font-size: 1rem;
            }

            @media screen and (max-width: 470px) {
                font-size: 0.8rem;
            }

            @media screen and (max-width: 400px) {
                font-size: 0.6rem;
            }
        }
    }

    .add-post-btn {
        align-items: center;
        cursor: pointer;
        outline: none; // outline when clicked
        background-color: #610f4b93;
        // shape
        border-radius: 100%;
        border: 1px solid #410d3363;
        height: 3.2rem;
        width: 3.2rem;
        // position
        position: fixed;
        bottom: 10%;
        right: 5%;
        z-index: 1000;

        .add-icon {
            color: #ffebf9d7;
            font-size: 2.3rem;
        }

        &:hover {
            background-color: #610f4b;
            border-color: #da67bb;
            // grow
            transform: scale(1.05);

            .add-icon {
                color: #fff;
            }
        }

        @media screen and (max-width: 1025px) {
            bottom: 9%;
            right: 9%;
        }

        @media screen and (max-width: 500px) {
            bottom: 5%;
            right: 5%;
        }
    }
}