.homepage {
    margin: 5rem auto 5rem;

    .all-posts {
        display: flex;
        flex-direction: column;

        .empty-post {
            font-size: 1.2rem;
            font-weight: 500;
            margin: 1rem 0 0 1rem;
            text-transform: capitalize;
            font-family: 'Lexend Peta';
            color: #d3d3d3;

            @media screen and (max-width: 650px) {
                font-size: 1rem;
            }

            @media screen and (max-width: 470px) {
                font-size: 0.8rem;
            }

            @media screen and (max-width: 400px) {
                font-size: 0.6rem;
            }
        }
    }
}