.edit-profile {
    width: 38rem;
    // border: 1px solid black;

    @media screen and (max-width: 650px) {
        width: 95%;
    }

    // h4 {
    //     margin: 0 1rem 2rem;
    //     font-weight: 500;
    //     font-size: 1.3rem;
    // }

    .avatar-area {
        display: flex;
        justify-content: space-between;

        .account {
            margin: 2.5rem 2rem 1.5rem;
            font-weight: 500;
            font-size: 1.3rem;
            font-family: 'Merienda One';

            @media screen and (max-width: 735px) {
                margin-top: 2.1rem;
                font-size: 1.2rem;
            }

            @media screen and (max-width: 500px) {
                margin-top: 1.9rem;
                font-size: 1.1rem;
            }

            @media screen and (max-width: 360px) {
                margin: 1.9rem 1.5rem 1.5rem 2rem;
                font-size: 1.05rem;
            }
        }


        .add-img-btn {
            flex-direction: column;
            margin-right: 1rem;
            color: rgb(77, 77, 77);

            .file-input {
                order: 1;

                .input-btn {
                    padding: 0.5rem 0;

                    .img-btn {
                        font-size: 1.8rem;

                        @media screen and (max-width: 735px) {
                            font-size: 1.65rem;
                        }

                        @media screen and (max-width: 500px) {
                            font-size: 1.5rem;
                        }
                    }

                    span {
                        font-size: 1rem;
                        margin: 0.3rem 0 0 0.5rem;

                        @media screen and (max-width: 735px) {
                            font-size: 0.8rem;
                        }

                        @media screen and (max-width: 500px) {
                            margin: 0.2rem 0 0 0.3rem;
                        }
                    }
                }
            }

            .thumbnail {
                width: 6rem;
                height: 6rem;
                border-radius: 100%;
                object-fit: cover; // object-fit (img, video tag)  vs  background-size (only bg-img)
                margin: 0 auto;

                @media screen and (max-width: 735px) {
                    width: 5rem;
                    height: 5rem;
                }
            }
        }
    }

    .name-area,
    .bio-area {
        margin: 0 1rem;

        span {
            color: #b1b1b1;
        }
    }

    .submit-btn {
        display: flex;
        justify-content: space-evenly; // items have equal space around them
        margin: 2rem 0;

        .save-btn,
        .cancel-btn {
            font-weight: bold;
            padding: 0.3rem 1.2rem;
            border: 1px solid #000;
            background-color: transparent;
            font-size: 0.85rem;
            display: inline-block;
            border-radius: 0.5rem;
            font-family: 'Merienda One';
            color: rgb(78, 80, 79);
            // input reset - remove platform default styling to an element
            -webkit-appearance: none;
            -moz-appearance: none;

            &:hover {
                // grow
                transform: scale(1.05);
                cursor: pointer;
            }
        }

        .save-btn:hover {
            background-color: rgba(255, 204, 94, 0.788);
        }

        .cancel-btn:hover {
            background-color: rgba(255, 88, 88, 0.788);
        }
    }
}