.edit-profile {
    width: 38rem;
    // border: 1px solid black;

    @media screen and (max-width: 650px) {
        width: 95%;
    }

    .avatar-area {

        h4 {
            margin: 1.2rem 1rem 0.5rem;
            font-weight: 500;
            font-size: 1.2rem;
        }

        .add-img-btn {
            justify-content: space-between;
            margin-bottom: 1rem;

            .file-input {

                .input-btn {
                    padding: 1.5rem 1rem 2rem;

                    .img-btn {
                        font-size: 2rem;

                        @media screen and (max-width: 500px) {
                            font-size: 1.5rem;
                        }
                    }

                    span {
                        font-size: 1.1rem;
                        margin: 0.38rem 0 0 0.5rem;

                        @media screen and (max-width: 500px) {
                            font-size: 1rem;
                            margin: 0.2rem 0 0 0.3rem;
                        }
                    }
                }
            }

            .thumbnail {
                width: 6rem;
                height: 6rem;
                border-radius: 100%;
                object-fit: cover; // object-fit (img, video tag)  vs  background-size (only bg-img)
                margin-right: 1rem;
            }
        }
    }
}