@mixin btn {
    border: 1px solid #000;
    font-weight: bold;
    display: inline-block;
    font-family: 'Merienda One';
    color: rgb(78, 80, 79);
    outline: none;
    // input reset - remove platform default styling to an element
    -webkit-appearance: none;
    -moz-appearance: none;

    &:hover {
        // grow
        transform: scale(1.05);
        cursor: pointer;
    }
}

@mixin edit-title {
    font-weight: 500;
    font-size: 1.3rem;
    font-family: 'Merienda One';
    text-transform: capitalize;

    @media screen and (max-width: 550px) {
        font-size: 1.1rem;
    }
}

.edit-profile {
    width: 38rem;

    @media screen and (max-width: 650px) {
        width: 95%;
    }

    .title {
        margin: 1rem 1rem 2rem;
        @include edit-title();
    }

    .avatar-area {
        display: flex;
        justify-content: space-between;

        .username-area {
            margin: 1.7rem 2rem 1.5rem;

            @media screen and (max-width: 360px) {
                margin: 1.7rem 1.5rem 1.5rem 2rem;
            }

            .account {
                font-weight: 300;
                font-size: 1.8rem;

                @media screen and (max-width: 735px) {
                    font-size: 1.5rem;
                }

                @media screen and (max-width: 500px) {
                    font-size: 1.3rem;
                }

                @media screen and (max-width: 310px) {
                    font-size: 1.05rem;
                }
            }

            .join-date {
                margin: 1.6rem 0 0 0.2rem;
                color: rgb(138, 138, 138);
                font-size: 1rem;

                @media screen and (max-width: 735px) {
                    margin-top: 1rem;
                }

                @media screen and (max-width: 500px) {
                    font-size: 0.8rem;
                }
            }
        }

        .add-img-btn {
            flex-direction: column;
            margin-right: 1rem;
            color: rgb(77, 77, 77);

            .file-input {
                order: 1;

                .input-btn {
                    padding: 0.5rem 0;

                    .img-btn {
                        font-size: 1.8rem;

                        @media screen and (max-width: 735px) {
                            font-size: 1.65rem;
                        }

                        @media screen and (max-width: 500px) {
                            font-size: 1.5rem;
                        }

                        @media screen and (max-width: 340px) {
                            font-size: 1.3rem;
                        }
                    }

                    span {
                        font-size: 1rem;
                        margin: 0.3rem 0 0 0.5rem;
                        white-space: nowrap;

                        @media screen and (max-width: 735px) {
                            font-size: 0.8rem;
                        }

                        @media screen and (max-width: 500px) {
                            margin: 0.2rem 0 0 0.3rem;
                        }

                        @media screen and (max-width: 340px) {
                            margin-left: 0.2rem;
                            font-size: 0.75rem;
                        }
                    }
                }
            }

            .thumbnail {
                width: 6rem;
                height: 6rem;
                border-radius: 100%;
                object-fit: cover; // object-fit (img, video tag)  vs  background-size (only bg-img)
                margin: 0 auto;

                @media screen and (max-width: 735px) {
                    width: 5rem;
                    height: 5rem;
                }
            }
        }
    }

    .name-area,
    .bio-area {
        margin: 0 1rem;

        span {
            color: #b1b1b1;
        }
    }

    .submit-btn {
        display: flex;
        justify-content: space-evenly; // items have equal space around them
        margin: 2rem 0;

        .save-btn,
        .cancel-btn {
            padding: 0.3rem 1.2rem;
            background-color: transparent;
            font-size: 0.85rem;
            border-radius: 0.5rem;
            @include btn();
        }

        .save-btn:hover {
            background-color: rgba(255, 204, 94, 0.788);
        }

        .cancel-btn:hover {
            background-color: rgba(255, 88, 88, 0.788);
        }
    }

    .reset-password-area {
        margin: 5rem 1rem;

        h3 {
            @include edit-title();
        }

        p {
            color: rgb(100, 102, 101);
            font-size: 1rem;

            @media screen and (max-width: 550px) {
                margin: 0 1rem 1rem;
            }
        }

        button {
            padding: 0.5rem 1.2rem;
            background-color: rgba(255, 204, 94, 0.788);
            font-size: 1rem;
            border-radius: 1.5rem;
            margin: 1rem 0 0 0.5rem;
            @include btn();

            @media screen and (max-width: 550px) {
                margin: 1rem 0 0 1rem;
                font-size: 0.875rem;
            }
        }
    }
}