.edit-profile {
    width: 38rem;
    // border: 1px solid black;

    @media screen and (max-width: 650px) {
        width: 95%;
    }

    // h4 {
    //     margin: 0 1rem 2rem;
    //     font-weight: 500;
    //     font-size: 1.3rem;
    // }

    .avatar-area {
        display: flex;
        justify-content: space-between;

        .account {
            margin: 2.5rem 2rem 1.5rem;
            font-weight: 500;
            font-size: 1.3rem;
        }


        .add-img-btn {
            flex-direction: column;
            margin-right: 1rem;
            color: rgb(77, 77, 77);

            .file-input {
                order: 1;

                .input-btn {
                    padding: 0.5rem 0;

                    .img-btn {
                        font-size: 1.8rem;

                        @media screen and (max-width: 500px) {
                            font-size: 1.5rem;
                        }
                    }

                    span {
                        font-size: 1rem;
                        margin: 0.3rem 0 0 0.5rem;

                        @media screen and (max-width: 500px) {
                            font-size: 1rem;
                            margin: 0.2rem 0 0 0.3rem;
                        }
                    }
                }
            }

            .thumbnail {
                width: 6rem;
                height: 6rem;
                border-radius: 100%;
                object-fit: cover; // object-fit (img, video tag)  vs  background-size (only bg-img)
                margin: 0 auto;
            }
        }
    }

    .name-area,
    .bio-area {
        margin: 0 1rem;

        span {
            color: #b1b1b1;
        }
    }

    .save-btn {
        margin: 2rem 0;
    }
}