.reset-password,
.new-password {
    display: flex;
    flex-direction: column;
    max-width: 30rem;
    width: 100%;
    margin: 0 1rem;

    @media screen and (max-width: 550px) {
        max-width: 95%;
    }

    h3 {
        font-weight: 500;
        font-size: 1.2rem;
        font-family: 'Merienda One';
        text-transform: capitalize;

        @media screen and (max-width: 550px) {
            font-size: 1.1rem;
        }
    }

    p {
        color: rgb(100, 102, 101);
        font-size: 1rem;

        @media screen and (max-width: 550px) {
            margin: 0 1rem 1rem;
        }
    }

    .input-field {
        margin: 1rem 0;

        @media screen and (max-width: 550px) {
            margin: 1rem;
        }

        .input-label {
            display: block;
            font-weight: 600;
            font-size: 0.875rem;
            line-height: 1.5;
        }

        .input-box {
            padding: 0.5rem;
            width: 100%;
            border: 1px solid;
            background-color: transparent;
            border-radius: 0.5rem;
            font-size: 1.2rem;
            // input reset - remove platform default styling to an element
            -webkit-appearance: none;
            -moz-appearance: none;

            &:hover {
                background-color: rgb(78, 80, 79);
                color: #fff;
            }

            @media screen and (max-width: 550px) {
                width: 92%;
            }

        }
    }

    .reset-button {
        font-weight: bold;
        padding: 0.5rem 1rem;
        border: 1px solid #000;
        background-color: transparent;
        font-size: 0.875rem;
        display: inline-block;
        margin-top: 2rem;
        border-radius: 0.5rem;
        font-family: 'Merienda One';
        color: rgb(78, 80, 79);
        min-width: 9rem;
        // input reset - remove platform default styling to an element
        -webkit-appearance: none;
        -moz-appearance: none;

        &:hover {
            // grow
            transform: scale(1.05);
            cursor: pointer;
        }
    }

    #reset-password-msg,
    #new-password-msg {
        display: none;
        opacity: 1;
        justify-content: center;
        margin-top: 1rem;
        letter-spacing: .04rem;
        font-size: 1rem;

        @media screen and (max-width: 550px) {
            margin-top: 2rem;
        }
    }

    #new-password-msg {
        color: #9b0c24;
    }
}