.view-post {
    // post size
    max-width: 75rem;
    width: 95%;
    max-height: 46rem;
    // card frame
    border-radius: 0.2rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.2);
    // grid - img / name row, content, comment, icon, comment input 
    display: grid;
    grid-template-columns: 2fr 1fr; // 2columns
    grid-template-rows: repeat(7, auto); // repeat(? times, size)  7 rows
    grid-column-gap: 2rem;
    // grid-row-gap: 1rem;
    align-items: center;

    @media screen and (max-width: 880px) {
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 1.5rem;
    }

    @media screen and (max-width: 735px) {
        display: flex;
        flex-direction: column;
        max-height: max-content;
    }

    .post-img-container {
        width: auto;
        max-height: 46rem;
        margin: 0;
        border-right: 1px solid #cfcfcf;

        .post-img {
            width: 100%;
            max-height: 100%;
            object-fit: contain; // object-fit (img, video tag)  vs  background-size (only bg-img)
            object-position: center;
        }

        @media (min-width: 736px) {
            grid-row: 1 / -1; // start end(last line)   whole column
        }

        @media screen and (max-width: 735px) {
            order: 2;
            max-height: 20rem;
            border-right: none;
        }
    }

    .name-row {
        display: flex;
        padding: 1.2rem 1rem 0 0;

        @media (min-width: 736px) {
            grid-row: 1 / 2; // to keep at the top
        }

        @media screen and (max-width: 735px) {
            order: 1;
            padding: 0.9rem 0 0 0;
            width: 93%;
        }

        .post-user {
            display: flex;
            margin-bottom: 1.1rem;
            cursor: pointer;

            @media screen and (max-width: 735px) {
                margin-bottom: 0.9rem;
            }

            .username {
                font-size: 1.2rem;
                font-weight: 500;
                margin-top: 0.5rem;

                @media screen and (max-width: 370px) {
                    font-size: 1.1rem;
                }
            }

            .user-img {
                width: 3.1rem;
                height: 3.1rem;
                border-radius: 100%;
                margin-right: 1rem;

                @media screen and (max-width: 370px) {
                    width: 2.6rem;
                    height: 2.6rem;
                    margin-right: 0.7rem;
                }
            }
        }
    }

    .post-content {
        margin: 0.8rem 1rem 0 0;
        word-wrap: break-word;

        @media (min-width: 736px) {
            grid-row: 2 / 3; // leave a row (3 /4) to be blank
            max-height: 13.8rem;
            overflow: auto;
        }

        @media screen and (max-width: 735px) {
            order: 4;
            margin: 0.8rem auto 1rem 2rem;
            width: 90%;
            max-height: max-content;
        }

        @media screen and (max-width: 450px) {
            margin: 0.8rem auto 1rem 1rem;
        }

        h5 {
            margin-top: 0.3rem;
            margin-bottom: 0.3rem;
            font-size: 1.1rem;
            font-weight: 500;
        }

        p {
            margin: 0.7rem 0;
            font-size: 1.1rem;
            white-space: pre-wrap; // textarea break line
        }
    }

    .comments {
        margin: 0.5rem 1rem 0.5rem 0.5rem;
        font-size: 1rem;
        max-height: 13rem;
        overflow: auto;

        @media (min-width: 736px) {
            grid-row: 4 / 6; // to keep at the bottom
        }

        @media screen and (max-width: 735px) {
            order: 5;
            margin: 1rem auto 0.5rem 2rem;
            width: 90%;
        }

        @media screen and (max-width: 450px) {
            margin: 1rem auto 0.5rem 1rem;
        }

        .each-comment {
            display: flex;
            margin-bottom: 0.3rem;

            .comment-name {
                font-weight: 500;
            }

            .comment-text {
                margin-left: 1rem;
                white-space: pre-wrap; // textarea break line
            }
        }
    }

    .icon {
        display: flex;
        margin: 1rem 0.2rem 0 0.2rem;

        @media (min-width: 736px) {
            grid-row: 6 / 7;
        }

        @media screen and (max-width: 735px) {
            order: 3;
            margin: 1rem auto 0.5rem 1rem;
        }

        .comment-icon {
            color: #8d8d8d;
        }

        .comment-icon {
            font-size: 2rem;
            margin-right: 0.38rem;
            margin-top: 0.1rem;

            &:hover,
            &:focus {
                // grow
                transform: scale(1.05);
            }

            @media screen and (max-width: 370px) {
                font-size: 1.8rem;
            }
        }

        span {
            margin: 0.2rem 0.8rem 0 0;
            font-size: 1rem;
        }
    }

    .comment-container {
        margin: 0 1rem 2.3rem 0;

        @media (min-width: 736px) {
            grid-row: 7 / 8;
        }

        @media screen and (max-width: 735px) {
            order: 6;
            width: 90%;
            margin: 0.2rem 0.5rem 1.5rem 0.7rem;
        }
    }
}