.avatar-menu {
    .user-avatar {
        text-align: center;
        padding: 1.5rem;
        margin-top: 1.2rem;
        cursor: pointer;

        .avatar-img {
            border-radius: 100%;
            padding: 0.25rem;
            border: 1px solid rgba(0, 0, 0, 0.18);
            height: 3.3rem;
            width: 3.3rem;

            &:hover {
                border-color: rgba(0, 0, 0, 0.3);
            }
        }
    }
}