.avatar-menu {
    .user-avatar {
        text-align: center;
        padding: 1.1rem;
        margin-top: 1.2rem;
        cursor: pointer;

        @media screen and (max-width: 370px) {
            padding: 1rem;
        }

        .avatar-img {
            border-radius: 100%;
            padding: 0.25rem;
            border: 1px solid rgba(0, 0, 0, 0.18);
            height: 2.7rem;
            width: 2.7rem;
            object-fit: cover; // object-fit (img, video tag)  vs  background-size: cover; (only bg-img)
            object-position: center; // background-position: center;

            &:hover {
                border-color: rgba(0, 0, 0, 0.3);
            }

            @media screen and (max-width: 465px) {
                height: 2.5rem;
                width: 2.5rem;
            }
        }
    }
}