.navigation {
    height: 4rem;
    width: 100%;
    display: flex;
    justify-content: space-between; // logo & options
    padding-bottom: 1rem;
    margin-bottom: 0.7rem;
    background: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    // position
    position: fixed;
    top: 0;
    z-index: 5000;

    .logo {
        height: 100%;
        width: auto;
        margin: 1rem 1.5rem; // padding
        font-size: 36px;
    }

    .options {
        width: 50%;
        height: 100%;
        display: flex; // each option
        align-items: center;
        justify-content: flex-end;

        .sign-options {
            margin-right: 1rem;

            .option {
                padding: 10px 15px;
                cursor: pointer;
            }
        }
    }
}