.navigation {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between; // logo & options
    margin-bottom: 25px;

    .logo {
        height: 100%;
        width: 70px;
        margin: 25px; // padding
        font-size: 36px;
    }

    .options {
        width: 50%;
        height: 100%;
        display: flex; // each option
        align-items: center;
        justify-content: flex-end;

        .option {
            padding: 10px 15px;
            cursor: pointer;
        }
    }
}

// html
a {
    text-decoration: none;
}