.profile {
    // set content to the middle of the page
    max-width: 1100px;
    margin: 0 auto 3rem;
    padding: 0 5rem;

    // RWD
    @media screen and (max-width: 735px) {
        padding: 0 3rem;
    }

    @media screen and (max-width: 500px) {
        padding: 0 1.8rem;
    }

    @media screen and (max-width: 335px) {
        padding: 0 1.2rem;
    }

    .user-info {
        margin-top: 3rem;
        padding-bottom: 5rem;
        border-bottom: 1px solid rgb(170, 170, 170);
        // 
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: repeat(3, auto);
        grid-column-gap: 3rem;
        align-items: center;

        .profile-img {
            // flex: 1 0 0%; // flex-grow | flex-shrink | flex-basis
            // -webkit-box-flex: 1;
            // margin-right: 2rem;

            // width: calc(33.333% - 1rem);
            // display: flex;
            // justify-content: center;
            // align-items: center;
            grid-row: 1 / -1;
            width: auto;
            margin: 0;


            @media screen and (max-width: 735px) {
                margin-right: 1rem;
                // width: auto;
                grid-row: 1 / 2;
            }

            img {
                align-items: center;
                align-self: center;
                flex: none;
                justify-content: center;
                width: 60%;
                border-radius: 100%;
                display: block;

                @media screen and (max-width: 735px) {
                    width: 7.7rem;
                }
            }
        }

        .user-setting {
            display: flex;
            margin-top: 1.1rem;
            padding-bottom: 0.5rem;
            width: auto;
            margin: 0;

            h2 {
                font-size: 2rem;
                font-weight: 300;
                margin: 0;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis; // hide the overflow texts
                display: inline-block;

                @media screen and (max-width: 435px) {
                    font-size: 1.5rem;
                }
            }

            .edit-btn {
                font-size: 1rem;
                line-height: 1.8;
                border: 0.1rem solid #dbdbdb;
                border-radius: 0.3rem;
                padding: 0 2rem;
                margin-left: 3rem;
                background: none;
                display: inline-block;

                @media screen and (max-width: 735px) {
                    // flex-basis: 100%;
                    order: 1;
                    padding: 0;
                    text-align: center;
                    margin-top: 1rem;
                    // width: auto;
                    // 
                    grid-column: 1 / -1;
                    margin: 0;
                }
            }

            @media screen and (max-width: 735px) {
                // flex-basis: calc(100% - 10.7rem);
                // display: flex;
                // flex-wrap: wrap;
                // width: auto;
                display: grid;
                grid-template-columns: auto 1fr;
                grid-gap: 1rem;
                margin: 0;
            }
        }


        .user-activity {
            display: flex;
            // display: block;
            margin-top: 2.3rem;
            padding-bottom: 0.8rem;
            // height: 3rem;
            width: auto;
            margin: 0;

            justify-content: space-between; // post & follower & following
            // width: 116%; // create space for space-between

            h4 {
                display: inline-block;
                font-size: 1.6rem;
                line-height: 1.5;
                margin: 1rem 4rem 1.8rem 0;
                font-weight: 300;

                &:last-child {
                    margin-right: 0;
                }

                span {
                    font-weight: 600;

                    @media screen and (max-width: 735px) {
                        display: block;
                    }
                }

                @media screen and (max-width: 970px) {
                    margin-right: 3rem;
                    font-size: 1.4rem;
                }

                @media screen and (max-width: 865px) {
                    font-size: 1.2rem;
                }

                @media screen and (max-width: 800px) {
                    margin-right: 2.5rem;
                }

                @media screen and (max-width: 760px) {
                    margin-right: 2.1rem;
                }

                @media screen and (max-width: 735px) {
                    // margin: 0.5rem 4rem 0.5rem 0;
                    margin: 0.5rem 0;
                    justify-content: space-between; // post & follower & following
                    width: 116%; // create space for space-between
                    // 
                    font-size: 1.4rem;
                    flex: 1;
                    margin: 0;
                    width: auto;
                }
            }


            @media screen and (max-width: 735px) {
                // width: 110%;
                // width: auto;
                // flex-basis: 100%;
                order: 1;
                margin-top: 1.5rem;
                // 
                // display: flex;
                text-align: center;
                padding: 0.5rem 0;
                border-top: 1px solid #aaaaaa;
                border-bottom: 1px solid #aaaaaa77;

                // 
                grid-column: 1 / -1;
                margin: 0;
            }
        }

        .bio {
            font-size: 1.4rem;
            font-weight: 300;
            line-height: 1.5;
            word-wrap: break-word;
            display: block;
            width: auto;
            margin: 0;

            @media screen and (max-width: 735px) {
                width: auto;
                flex-basis: 100%;
                font-size: 1.2rem;
            }

            @media screen and (max-width: 735px) {
                // flex-basis: 100%;
                // width: auto;
                grid-column: 1 / -1;
                margin: 0;
            }
        }

        @media screen and (max-width: 735px) {
            // display: flex;
            // flex-wrap: wrap;
            padding: 0;
            // 
            grid-template-columns: auto 1fr;
            grid-row-gap: 1.5rem;
        }
    }
}