.profile {
    // set content to the middle of the page
    max-width: 1050px;
    margin: 0 auto 3rem;
    padding: 0 5rem;

    // RWD
    @media screen and (max-width: 735px) {
        padding: 0 3rem;
    }

    @media screen and (max-width: 500px) {
        padding: 0 1.8rem;
    }

    @media screen and (max-width: 335px) {
        padding: 0 1.2rem;
    }
}