.profile {
    // set content to the middle of the page
    max-width: 1100px;
    margin: 0 auto 3rem;
    padding: 0 5rem;

    // RWD
    @media screen and (max-width: 735px) {
        padding: 0 3rem;
    }

    @media screen and (max-width: 500px) {
        padding: 0 1.8rem;
    }

    @media screen and (max-width: 335px) {
        padding: 0 1.2rem;
    }

    @media screen and (max-width: 40rem) {
        display: flex;
        flex-wrap: wrap;
        padding: 4rem 0;
    }

    .user-info {
        display: flex;
        justify-content: space-around; // img & introduction
        margin-top: 5rem;
        padding-bottom: 5rem;
        border-bottom: 1px solid rgb(170, 170, 170);

        .profile-img {
            flex: 1 0 0%; // flex-grow | flex-shrink | flex-basis
            -webkit-box-flex: 1;
            margin-right: 2rem;

            width: calc(33.333% - 1rem);
            display: flex;
            justify-content: center;
            align-items: center;


            @media screen and (max-width: 735px) {
                margin-right: 1rem;
                width: auto;
            }

            img {
                align-items: center;
                align-self: center;
                flex: none;
                justify-content: center;
                width: 60%;
                border-radius: 100%;

                @media screen and (max-width: 845px) {
                    width: 80%;
                }

                @media screen and (max-width: 560px) {
                    width: 90%;
                }
            }
        }

        // .introduction {
        //     width: calc(63% - 2rem);
        //     flex-basis: 30px;
        //     -webkit-box-flex: 2;
        //     flex-grow: 2;
        //     color: #262626;
        //     flex-shrink: 1;

        .user-setting {
            display: flex;
            padding: 1rem 0 0.5rem 0;

            h2 {
                font-size: 2rem;
                font-weight: 300;
                margin: 0;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis; // hide the overflow texts

                @media screen and (max-width: 435px) {
                    font-size: 1.5rem;
                }
            }

            .edit-btn {
                font-size: 1rem;
                line-height: 1.8;
                border: 0.1rem solid #dbdbdb;
                border-radius: 0.3rem;
                padding: 0 2rem;
                margin-left: 3rem;
                background: none;

                @media screen and (max-width: 40rem) {
                    flex-basis: 100%;
                    order: 1;
                    padding: 0;
                    text-align: center;
                    margin-top: 1rem;
                    width: auto;
                }
            }

            @media screen and (max-width: 40rem) {
                flex-basis: calc(100% - 10.7rem);
                display: flex;
                flex-wrap: wrap;
                width: auto;
            }
        }


        .user-activity {
            // display: flex;
            display: block;

            // justify-content: space-between; // post & follower & following
            // width: 116%; // create space for space-between

            .state {
                h4 {
                    display: inline-block;
                    font-size: 1.6rem;
                    line-height: 1.5;
                    margin: 1rem 4rem 1.8rem 0;
                    font-weight: 300;

                    &:last-child {
                        margin-right: 0;
                    }

                    span {
                        font-weight: 600;

                        @media screen and (max-width: 735px) {
                            display: block;
                        }
                    }

                    @media screen and (max-width: 970px) {
                        margin-right: 3rem;
                        font-size: 1.4rem;
                    }

                    @media screen and (max-width: 865px) {
                        font-size: 1.2rem;
                    }

                    @media screen and (max-width: 800px) {
                        margin-right: 2.5rem;
                    }

                    @media screen and (max-width: 760px) {
                        margin-right: 2.1rem;
                    }

                    @media screen and (max-width: 735px) {
                        // margin: 0.5rem 4rem 0.5rem 0;
                        margin: 0.5rem 0;
                        justify-content: space-between; // post & follower & following
                        width: 116%; // create space for space-between
                        // 
                        font-size: 1.4rem;
                        flex: 1;
                        margin: 0;
                        width: auto;
                    }
                }

                @media screen and (max-width: 40rem) {
                    order: 1;
                    display: flex;
                    text-align: center;
                    padding: 1.2rem 0;
                    border-top: 0.1rem solid #dadada;
                    border-bottom: 0.1rem solid #dadada;
                }
            }

            @media screen and (max-width: 735px) {
                // width: 110%;
                width: auto;
                flex-basis: 100%;
                order: 1;
                margin-top: 1.5rem;
                // 
                // display: flex;
                // text-align: center;
                // padding: 0.5rem 0;
                // border-top: 0.1rem solid #dadada;
                // border-bottom: 0.1rem solid #dadada;
            }

            @media screen and (max-width: 40rem) {
                flex-basis: 100%;
                order: 1;
                margin-top: 1.5rem;
            }
        }

        .bio {
            font-size: 1.4rem;
            font-weight: 300;
            line-height: 1.5;
            word-wrap: break-word;
            display: block;

            @media screen and (max-width: 735px) {
                width: auto;
                flex-basis: 100%;
                font-size: 1.2rem;
            }

            @media screen and (max-width: 40rem) {
                flex-basis: 100%;
                width: auto;
            }
        }
    }
}


// &.big-size-img {
//   grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
// }
// &.small-size-img {
//   grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
// }
// className={`${otherProps.value.length ? 'shrink' : ''} form-input-label `}
// }

@media screen and (max-width: 40rem) {
    .profile {
        display: flex;
        flex-wrap: wrap;
        padding: 4rem 0;
    }

    .profile-image,
    .profile-user-settings,
    .profile-bio,
    .profile-stats {
        width: auto;
    }

    .profile-image img {
        width: 7.7rem;
    }

    .profile-user-settings {
        flex-basis: calc(100% - 10.7rem);
        display: flex;
        flex-wrap: wrap;
        margin-top: 1rem;
    }

    .profile-user-name {
        font-size: 2.2rem;
    }

    .profile-edit-btn {
        order: 1;
        padding: 0;
        text-align: center;
        margin-top: 1rem;
    }

    .profile-edit-btn {
        margin-left: 0;
    }

    .profile-bio {
        font-size: 1.4rem;
        margin-top: 1.5rem;
    }

    .profile-edit-btn,
    .profile-bio,
    .profile-stats {
        flex-basis: 100%;
    }

    .profile-stats {
        order: 1;
        margin-top: 1.5rem;
    }

    .profile-stats ul {
        display: flex;
        text-align: center;
        padding: 1.2rem 0;
        border-top: 0.1rem solid #dadada;
        border-bottom: 0.1rem solid #dadada;
    }

    .profile-stats li {
        font-size: 1.4rem;
        flex: 1;
        margin: 0;
    }

    .profile-stat-count {
        display: block;
    }
}