.menu-dropdown {
    margin: 1rem;
    // position
    position: absolute;
    top: 4.1rem;
    right: 1.1rem;
    z-index: 1000;

    .dropdown-list {
        width: 12rem;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        // card frame - light
        border-radius: 0.5rem;
        border: 1px solid rgba(0, 0, 0, 0.1);
        box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.1);


        .dropdown-item {
            padding: 0.6rem 1.2rem;
            line-height: 1.5;

            &:hover {
                background-color: rgba(61, 64, 66, 0.75);
                color: #fff;
            }
        }
    }
}