.create-post-frame {
    // post size
    max-width: 32rem;
    width: 100%;
    height: max-content;
    // card frame
    border-radius: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.2);
    padding: 2rem;

    .title-row {
        display: flex;

        .pen-icon {
            font-size: 2rem;
            margin: 0.1rem 1rem 0 0;
        }

        h2 {
            margin-top: 0;
            margin-bottom: 2.2rem;
            font-size: 1.7rem;
        }
    }

    .img-input {
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 0.5rem;
        margin-bottom: 1rem;
        display: flex;
        flex-direction: column;

        .file-input {
            display: flex;

            .input-btn {
                display: flex;
                padding: 1rem 1rem 2rem 1rem;
                cursor: pointer;

                #upload_img {
                    display: none;
                }

                .img-btn {
                    font-size: 3rem;
                }

                span {
                    font-size: 1.5rem;
                    margin: 0.5rem 0 0 0.5rem;
                }

                &:hover {
                    // grow
                    transform: scale(1.05);
                }
            }

            .file-path {
                border: none;
                border-bottom: 1px solid rgba(0, 0, 0, 0.2);
                margin-bottom: 2rem;
                width: 48%;
                font-size: 1.2rem;
                padding: 0.8rem 0 0 2rem;
                outline: none;
            }
        }

        .thumbnail {
            width: 100%;
            max-height: 29.4rem;
            object-fit: contain; // object-fit (img, video tag)  vs  background-size (only bg-img)
            object-position: center;
        }
    }

    .post-input {
        display: flex;
        flex-direction: column;
        margin-bottom: 2.5rem;

        // #post-title,
        // #post-content {}

        span {
            color: #b1b1b1;
        }
    }

    #create-post-error {
        display: none;
        opacity: 1;
        justify-content: center;
        color: #9b0c24;
        margin-bottom: 1em;
        letter-spacing: .06rem;
        font-size: 1.1rem;
    }

    .post-btn {
        margin-top: 2rem;

        .publish {
            padding: 0.5rem 1rem;
            border: 1px solid #000;
            background-color: transparent;
            font-size: 1rem;
            display: inline-block;
            border-radius: 0.5rem;
            font-family: 'Merienda One';
            color: rgb(78, 80, 79);
            text-transform: uppercase;
            cursor: pointer;
            // input reset - remove platform default styling to an element
            -webkit-appearance: none;
            -moz-appearance: none;

            &:hover {
                background-color: rgba(255, 204, 94, 0.788);
                font-weight: bold;
                // grow
                transform: scale(1.05);
            }
        }
    }
}