  .user-info {
      margin-top: 3rem;
      padding-bottom: 5rem;
      border-bottom: 1px solid #aaaaaa;
      // grid - img / info
      display: grid;
      grid-template-columns: 1fr 2fr; // 2columns
      grid-template-rows: repeat(3, auto); // repeat(? times, size)  3 rows
      grid-column-gap: 3rem;
      align-items: center;

      @media screen and (max-width: 735px) {
          padding: 0;
          grid-template-columns: auto 1fr;
          grid-row-gap: 1.5rem;
      }

      @media screen and (max-width: 480px) {
          grid-column-gap: 1.5rem;
      }

      .profile-img {
          grid-row: 1 / -1; // start end(last line)   whole column
          width: auto;
          margin: 0;

          @media screen and (max-width: 735px) {
              grid-row: 1 / 2; // (only first row)
          }

          img {
              display: block;
              margin: 0 auto;
              width: 60%;
              border-radius: 100%;

              @media screen and (max-width: 990px) {
                  width: 10rem;
              }

              @media screen and (max-width: 735px) {
                  width: 7.7rem;
              }

              @media screen and (max-width: 450px) {
                  width: 6rem;
                  margin-left: 1rem;
              }

              @media screen and (max-width: 360px) {
                  width: 5rem;
              }
          }
      }

      .user-setting {
          display: flex;
          padding-bottom: 0.5rem;
          width: auto;

          @media screen and (max-width: 735px) {
              // push btn to next line
              display: grid;
              grid-template-columns: auto 1fr;
              grid-gap: 1rem;
              margin: 0;
          }

          h2 {
              font-size: 2.6rem;
              font-weight: 300;
              margin: 0;
              padding-right: 2rem;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis; // hide the overflow texts
              display: inline-block;

              @media screen and (max-width: 950px) {
                  font-size: 2rem;
              }

              @media screen and (max-width: 435px) {
                  font-size: 1.5rem;
              }
          }

          .edit-btn {
              font-size: 1rem;
              height: 2.2rem;
              line-height: 1.8; // min-height
              margin-top: 0.8rem;
              border: 0.1rem solid #dbdbdb;
              border-radius: 0.4rem;
              padding: 0 2rem;
              margin-left: 3.5rem;
              background: none;
              display: inline-block;

              @media screen and (max-width: 950px) {
                  margin-top: 0.3rem;
              }

              @media screen and (max-width: 735px) {
                  padding: 0;
                  grid-column: 1 / -1; // start end(last line)  whole row
                  margin: 0 1rem 0 0;
                  height: auto; // use line-height
              }
          }
      }

      .user-activity {
          display: flex;
          margin-top: 0.5rem;
          width: auto;
          justify-content: space-between; // h4

          h4 {
              display: inline-block;
              font-size: 1.4rem;
              line-height: 1.5;
              margin: 1rem 0 1.7rem 0;
              font-weight: 300;
              flex: 1; // flex-grow | flex-shrink | flex-basis

              span {
                  font-weight: 600;

                  @media screen and (max-width: 735px) {
                      display: block;
                  }
              }

              @media screen and (max-width: 950px) {
                  font-size: 1.2rem;
              }

              @media screen and (max-width: 735px) {
                  margin: 0.5rem 0;
                  font-size: 1.4rem;
                  flex: 1;
              }

              @media screen and (max-width: 500px) {
                  font-size: 1rem;
              }
          }

          @media screen and (max-width: 735px) {
              order: 1; // modify the visual order of html DOM, default 0 (front)
              margin-top: 1rem;
              text-align: center;
              padding: 0.5rem 0;
              border-top: 1px solid #aaaaaa; // border-bottom => user-info border-bottom
              grid-column: 1 / -1; // whole row
          }

          @media screen and (max-width: 500px) {
              margin-top: 0;
          }
      }

      .bio {
          font-size: 1.4rem;
          font-weight: 300;
          line-height: 1.5;
          word-wrap: break-word;
          display: block;
          width: auto;
          margin: 0;

          @media screen and (max-width: 950px) {
              font-size: 1.3rem;
          }

          @media screen and (max-width: 735px) {
              font-size: 1.2rem;
              grid-column: 1 / -1; // whole row
              margin-left: 11rem;
          }

          @media screen and (max-width: 500px) {
              font-size: 1rem;
              margin-left: 1rem;
          }
      }
  }