.my-profile {
    // set content to the middle of the page
    max-width: 1050px;
    margin: 0 auto 3rem;
    padding: 0 5rem;

    // RWD
    @media screen and (max-width: 735px) {
        padding: 0 3rem;
    }

    @media screen and (max-width: 550px) {
        padding: 0 1.5rem;
    }

    @media screen and (max-width: 450px) {
        padding: 0 0.8rem;
    }

    @media screen and (max-width: 360px) {
        padding: 0 0.25rem;
    }

    .block-icon {
        display: flex;
        margin: 0.5rem 0 0 auto;
        color: #cacaca;
        cursor: pointer;

        @media screen and (max-width: 500px) {
            margin-top: 0.3rem;
        }

        &:hover {
            color: #a8a8a8;
        }
    }
}