.post-frame {
    // post size
    max-width: 32rem;
    width: 100%;
    height: max-content;
    // card frame
    border-radius: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.2);
    padding: 1.7rem 1.3rem;

    .top-row {
        display: flex;

        .post-user {
            display: flex;
            margin-bottom: 1.1rem;
            margin-left: 0.6rem;
            cursor: pointer;

            .username {
                font-size: 1.13rem;
                font-weight: bold;
                margin-top: 0.5rem;
            }

            .user-img {
                width: 3.1rem;
                height: 3.1rem;
                border-radius: 100%;
                margin-right: 1rem;
            }
        }

        .more-icon {
            margin-left: auto;
            margin-top: 0.7rem;
            cursor: pointer;
        }
    }

    .post-img-container {
        .post-img {
            width: 100%;
            max-height: 29.4rem;
            object-fit: contain; // object-fit (img, video tag)  vs  background-size (only bg-img)
            object-position: center;
        }
    }

    .heart-icon {
        color: red;
        margin: 0.8rem;
        cursor: pointer;
    }

    .post-content {
        margin: 0 0.8rem 1rem 1.3rem;

        h5 {
            margin-top: 0;
            margin-bottom: 0.5rem;
            font-size: 1.2rem;
        }

        p {
            font-size: 1.1rem;
        }

        .comment-container {
            display: flex;
            margin-top: 1.5rem;

            .comment {
                padding: 0.7rem;
                width: 100%;
                border: 1px solid;
                background-color: transparent;
                border-radius: 0.3rem;
                font-size: 1.1rem;
                // input reset - remove platform default styling to an element
                -webkit-appearance: none;
                -moz-appearance: none;

                &:hover {
                    background-color: rgb(78, 80, 79);
                    color: #fff;
                }
            }

            .send {
                margin: 0.3rem 0 0 0.5rem;
                cursor: pointer;
                font-size: 2.1rem;

                &:hover {
                    color: rgb(0, 89, 255);
                }
            }
        }
    }
}