.post-frame {
    // post size
    max-width: 32rem;
    width: 100%;
    height: max-content;
    // card frame
    border-radius: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.2);
    padding: 1.7rem 1.3rem;
    background-color: #fff;

    @media screen and (max-width: 600px) {
        max-width: 90%;
    }

    @media screen and (max-width: 370px) {
        padding: 1.3rem 0.8rem;
    }

    @media screen and (max-width: 330px) {
        padding: 1rem 0.8rem;
    }

    .top-row {
        display: flex;

        .post-user {
            display: flex;
            margin-bottom: 1.1rem;
            margin-left: 0.6rem;
            cursor: pointer;

            .username {
                font-size: 1.2rem;
                font-weight: 500;
                margin-top: 0.5rem;

                @media screen and (max-width: 370px) {
                    font-size: 1.1rem;
                }
            }

            .user-img {
                width: 3.1rem;
                height: 3.1rem;
                border-radius: 100%;
                margin-right: 1rem;

                @media screen and (max-width: 370px) {
                    width: 2.6rem;
                    height: 2.6rem;
                    margin-right: 0.7rem;
                }
            }
        }
    }

    .post-img-container {
        .post-img {
            width: 100%;
            max-height: 29.4rem;
            object-fit: contain; // object-fit (img, video tag)  vs  background-size (only bg-img)
            object-position: center;
        }
    }

    .icon {
        display: flex;
        margin: 0.7rem 0 0.38rem 0.2rem;

        .comment-icon {
            color: #8d8d8d;
        }

        .comment-icon {
            font-size: 2rem;
            margin-right: 0.38rem;
            margin-top: 0.1rem;
            cursor: pointer;

            &:hover,
            &:focus {
                // grow
                transform: scale(1.05);
            }

            @media screen and (max-width: 370px) {
                font-size: 1.8rem;
            }
        }

        span {
            margin: 0.2rem 0.8rem 0 0;
            font-size: 1rem;
        }
    }

    .post-content {
        margin: 0.8rem 0.8rem 1rem 1.3rem;
        word-wrap: break-word;

        @media screen and (max-width: 450px) {
            margin: 0.8rem 0.3rem 1rem 0.5rem;
        }

        h5 {
            margin-top: 0;
            margin-bottom: 0.5rem;
            font-size: 1.1rem;
            font-weight: 500;
        }

        p {
            margin-top: 0.7rem;
            font-size: 1.1rem;
            white-space: pre-wrap; // textarea break line
        }

        .latest-comment {
            margin: 0.8rem 0.7rem;
            font-size: 1rem;
            width: 90%;
            display: flex;

            .comment-name {
                font-weight: 500;
            }

            .comment-text {
                margin-left: 1rem;
                white-space: pre-wrap; // textarea break line
            }
        }
    }
}