.post-frame {
    // post size
    max-width: 32rem;
    width: 100%;
    height: max-content;
    // card frame
    border-radius: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.2);
    padding: 1.7rem 1.3rem;

    @media screen and (max-width: 370px) {
        padding: 1.3rem 0.8rem;
    }

    @media screen and (max-width: 330px) {
        padding: 1rem 0.8rem;
    }

    .top-row {
        display: flex;

        .post-user {
            display: flex;
            margin-bottom: 1.1rem;
            margin-left: 0.6rem;
            cursor: pointer;

            .username {
                font-size: 1.2rem;
                font-weight: 500;
                margin-top: 0.5rem;

                @media screen and (max-width: 370px) {
                    font-size: 1.1rem;
                }
            }

            .user-img {
                width: 3.1rem;
                height: 3.1rem;
                border-radius: 100%;
                margin-right: 1rem;

                @media screen and (max-width: 370px) {
                    width: 2.6rem;
                    height: 2.6rem;
                    margin-right: 0.7rem;
                }
            }
        }
    }

    .post-img-container {
        .post-img {
            width: 100%;
            max-height: 29.4rem;
            object-fit: contain; // object-fit (img, video tag)  vs  background-size (only bg-img)
            object-position: center;
        }
    }

    .icon {
        display: flex;
        margin: 0.7rem 0 0.38rem 0.2rem;
        cursor: pointer;

        .heart-icon {
            color: red;
        }

        .heart-border,
        .comment-icon {
            color: #8d8d8d;
        }

        .heart-icon,
        .heart-border {
            font-size: 2rem;
            margin-right: 0.38rem;

            &:hover,
            &:focus {
                transform: scale(1);
                animation: like-button-animation .45s ease-in-out;
            }

            @media screen and (max-width: 370px) {
                font-size: 1.8rem;
            }
        }

        .comment-icon {
            font-size: 2rem;
            margin-right: 0.38rem;
            margin-top: 0.1rem;

            &:hover,
            &:focus {
                // grow
                transform: scale(1.05);
            }

            @media screen and (max-width: 370px) {
                font-size: 1.8rem;
            }
        }

        span {
            margin: 0.2rem 0.8rem 0 0;
            font-size: 1rem;
        }
    }

    .post-content {
        margin: 0.8rem 0.8rem 1rem 1.3rem;
        word-wrap: break-word;

        @media screen and (max-width: 450px) {
            margin: 0.8rem 0.3rem 1rem 0.5rem;
        }

        h5 {
            margin-top: 0;
            margin-bottom: 0.5rem;
            font-size: 1.1rem;
            font-weight: 500;
        }

        p {
            margin-top: 0.7rem;
            font-size: 1.1rem;
        }

        .comment-container {
            display: flex;
            margin-top: 1.5rem;

            .comment {
                padding: 0.7rem;
                width: 100%;
                border: 1px solid;
                background-color: transparent;
                border-radius: 0.3rem;
                font-size: 1.1rem;
                // input reset - remove platform default styling to an element
                -webkit-appearance: none;
                -moz-appearance: none;

                &:hover {
                    background-color: rgb(78, 80, 79);
                    color: #fff;
                }

                @media screen and (max-width: 450px) {
                    padding: 0.3rem 0.7rem;
                }
            }

            button {
                background-color: transparent;
                border: none;
                outline: none;

                .send {
                    margin-left: 0.3rem;
                    cursor: pointer;
                    font-size: 2.1rem;

                    &:hover,
                    &:focus {
                        color: rgb(0, 89, 255);
                        // grow
                        transform: scale(1.07);
                    }

                    @media screen and (max-width: 450px) {
                        margin-left: 0;
                        font-size: 1.8rem;
                    }
                }
            }
        }

        .latest-comment {
            margin: 0.8rem 0.7rem;
            font-size: 1rem;
            width: 90%;
            display: flex;

            .comment-name {
                font-weight: 500;
            }

            .comment-text {
                margin-left: 1rem;
            }
        }
    }
}


@keyframes like-button-animation {

    0%,
    to {
        transform: scale(1)
    }

    25% {
        transform: scale(1.2)
    }

    50% {
        transform: scale(.95)
    }
}