.personal-posts {
    margin-top: 2rem;
    width: 100%;

    @media screen and (max-width: 735px) {
        margin-top: 1rem;
        width: 90%;
    }

    @media screen and (max-width: 550px) {
        width: 88%;
    }

    @media screen and (max-width: 435px) {
        width: 85%;
    }

    @media screen and (max-width: 370px) {
        margin-top: 0.7rem;
        width: 88%;
    }

    @media screen and (max-width: 290px) {
        width: 80%;
    }

    .all-posts {
        display: flex;
        flex-direction: column;
    }
}