.personal-posts {
    margin-top: 2rem;

    @media screen and (max-width: 735px) {
        margin-top: 1rem;
    }

    @media screen and (max-width: 360px) {
        margin-top: 0.7rem;
    }

    .all-posts {
        display: flex;
        flex-direction: column;
    }
}