.personal-posts {
    margin-top: 2rem;
    width: 100%;

    @media screen and (max-width: 735px) {
        margin-top: 1rem
    }

    @media screen and (max-width: 655px) and (min-width: 600px) {
        width: 90%;
    }

    @media screen and (max-width: 370px) {
        width: 102%;
    }

    .all-posts {
        display: flex;
        flex-direction: column;
    }
}