@mixin input-label {
    display: block;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.5;
}

@mixin input-box {
    padding: 0.5rem;
    width: 100%;
    border: 1px solid;
    background-color: transparent;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    // input reset - remove platform default styling to an element
    -webkit-appearance: none;
    -moz-appearance: none;

    &:hover {
        background-color: rgb(78, 80, 79);
        color: #fff;
    }
}

@mixin margin-horizontal {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}


.card-frame {
    border-radius: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 2rem;
    margin-bottom: 2rem;
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.2);
    // card size
    max-width: 32rem;
    width: 100%;

    @media screen and (min-width: 30em) and (max-width: 60em) {
        width: 50%;
    }

    @media screen and (min-width: 60em) {
        width: 25%;
    }

    .frame-inner {
        padding: 2rem;
        color: rgba(0, 0, 0, 0.8);

        .form-content {
            // limited to ~66 characters
            max-width: 30em;

            .sign-field {
                border: 1px solid transparent;
                @include margin-horizontal();

                .title {
                    font-weight: 550;
                    font-size: 3rem;
                    color: rgb(63, 65, 64);
                    @include margin-horizontal();
                }

                .input-field-top {
                    margin-top: 1rem;

                    .input-label {
                        @include input-label();
                    }

                    .input-box {
                        @include input-box();
                    }
                }

                .input-field {
                    margin-top: 1rem;
                    margin-bottom: 1rem;

                    .input-label {
                        @include input-label();
                    }

                    .input-box {
                        font-weight: bold;
                        @include input-box();
                    }
                }
            }

            .submit-button {
                font-weight: bold;
                padding: 0.5rem 1rem;
                border: 1px solid #000;
                background-color: transparent;
                font-size: 0.875rem;
                display: inline-block;
                margin-top: 0.5rem;
                border-radius: 0.5rem;
                font-family: 'Merienda One';
                color: rgb(78, 80, 79);
                // input reset - remove platform default styling to an element
                -webkit-appearance: none;
                -moz-appearance: none;

                &:hover {
                    // grow
                    transform: scale(1.05);
                    cursor: pointer;
                }
            }

            .link-container {
                line-height: 1.5;
                margin-top: 1.1rem;

                .link {
                    font-size: 0.875rem;
                    display: block;
                    cursor: pointer;
                    font-family: 'Merienda One';
                    color: rgb(78, 80, 79);
                    // link
                    text-decoration: none;
                    transition: color .15s ease-in;
                    // dim
                    opacity: 1;
                    transition: opacity .15s ease-in;

                    &:hover {
                        // dim
                        opacity: 0.7;
                        transition: opacity .15s ease-in;
                        // link
                        // color: rgb(78, 80, 79);
                        transition: color .15s ease-in;
                    }
                }
            }
        }
    }
}