.add-img-btn {
    margin-bottom: 1rem;
    display: flex;

    .file-input {
        display: flex;

        .input-btn {
            display: flex;
            cursor: pointer;

            #upload_img {
                display: none;
            }

            // .img-btn { }

            // span { }

            &:hover {
                // grow
                transform: scale(1.05);
            }
        }

        .file-path {
            border: none;
            border-bottom: 1px solid rgba(0, 0, 0, 0.2);
            margin-bottom: 2rem;
            width: 48%;
            font-size: 1.2rem;
            padding: 0.8rem 0 0 2rem;
            outline: none;
            color: #6d6d6d;

            @media screen and (max-width: 600px) {
                width: 42%;
                font-size: 1.1rem;
            }

            @media screen and (max-width: 410px) {
                width: 70%;
                margin: 0 1rem 1.8rem 1.7rem;
                padding-top: 0;
            }
        }
    }

    .thumbnail {
        object-position: center;
    }

    // to hide the broken image icon
    [src=''] {
        visibility: hidden;
    }
}